In [14]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd
from sklearn.preprocessing import normalize,StandardScaler,MinMaxScaler,scale

In [8]:
iris=load_iris()

In [9]:
data=iris.data
target=iris.target

In [15]:
data=scale(data,axis=1)

In [17]:
pd.DataFrame(data).describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     1.321674   -0.226715    0.164879   -1.259838
std      0.087229    0.523225    0.552650    0.067458
min      1.073910   -0.930949   -0.746837   -1.417212
25%      1.261009   -0.657516   -0.525630   -1.299761
50%      1.335533   -0.448562    0.396507   -1.264825
75%      1.393666    0.428388    0.612823   -1.217897
max      1.542778    0.691516    0.892404   -1.053712